.post-list {
  display: grid;
  grid-gap: 32px 8px;
  justify-content: center;

  &--grid {
    grid-template-columns: repeat(2, 1fr);
  }

  &__error {
    margin: 64px 0;
    text-align: center;
  }
}