.grid-changer {
  margin: 0 auto 16px;
  max-width: 800px;
  text-align: right;

  &__button {
    background: transparent;
    border: none;

    svg {
      width: 20px;

      path,
      g {
        fill: black;
        transition: fill .2s linear;

      }
    }

    &--active {

      svg g,
      svg path {
        fill: #ff7f41
      }
    }
  }


}